# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [54]:
#создадим сводную таблицу по количеству детей и наличию долга
data_pivot_ch2 = data.pivot_table(index='children', values='debt', aggfunc={'debt': ["count", "mean"]}, fill_value=0)
data_pivot_ch2['mean'] = data_pivot_ch2['mean']*100
print(data_pivot_ch2)

          count      mean
children
0         14091  7.543822
1          4808  9.234609
2          2052  9.454191
3           330  8.181818
4            41  9.756098
5             9  0.000000

**Вывод:** 
В данном случае оценка семей с 4 и 5 детьми не показательна, т.к. их всего 41 и 5 соответственно при общем количестве записей = 21331. Данные группы не будем учитывать. 

По остальным группам видим, что клиенты с двумя детьми и одним ребенком имели задолженность чаще остальных. Клиенты без детей просрачивают кредиты реже, чем семьи с детьми.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
#создадим датафрейм, в котором сохраним зависимость между семейным положением и возвратом кредита в срок
data_debt_family = pd.DataFrame()

#считаем количество в зависимости от семейного положения
data_debt_family['count_by_family'] = data.groupby('family_status')['debt'].count()

#cуммируем значения, чтобы узнать общее количество задолженностей в каждой группе
data_debt_family['sum_debt'] = data.groupby('family_status')['debt'].sum()

#для каждой группы находим отношение
data_debt_family['ratio'] = data_debt_family['sum_debt']/data_debt_family['count_by_family'] 


print(data_debt_family.sort_values(by='ratio', ascending=False))

In [ ]:
def categorize_marriage(row):
    try:
        if 'Не женат / не замужем' in row or 'гражданский брак' in row:
            return 'не состоял(а) в браке'
        elif 'женат / замужем' in row or 'в разводе' in row or 'вдовец / вдова' in row:
            return 'состоял(а) в браке'
    except:
        return 'нет категории'

In [ ]:
data['marriage_category'] = data['family_status'].apply(categorize_marriage)

In [ ]:
#создадим сводную таблицу по наличию официального брака
marriage_pivot = data.pivot_table(index='marriage_category', values='debt')

#получим процентное соотношение и округлим с помощью метода round()
marriage_pivot['debt'] = (marriage_pivot['debt']*100).round()

print(marriage_pivot)

**Вывод:** 
Холостые респонденты и люди в гражданском браке чаще остальных задерживают оплату кредита. Вдовцы/вдовы наоборот меньше задерживают внесение платежа по кредиту. Люди не состоявшие в официально зарегистрированных отношениях задерживают с оплатой кредита чаще, чем люди, состоявшие в браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
#создадим датафрейм, в котором сохраним зависимость между уровнем дохода и возвратом кредита в срок
data_debt_total = pd.DataFrame()

#считаем количество в зависимости от уровня дохода
data_debt_total['count_by_total'] = data.groupby('total_income_category')['debt'].count()

#cуммируем значения, чтобы узнать общее количество задолженностей в каждой группе
data_debt_total['sum_debt'] = data.groupby('total_income_category')['debt'].sum()

#для каждой группы находим отношение
data_debt_total['ratio'] = data_debt_total['sum_debt']/data_debt_total['count_by_total'] 


print(data_debt_total.sort_values(by='ratio', ascending=False))

**Вывод:** 
Не будем учитывать респондентов с уровнем дохода <30000 (категория 'E') и >1000000 (категория 'А'), т.к. их всего 22 и 25 соответственно при общем количестве записей = 21331.

Клиенты с доходом от 30000 до 50000 чаще платят в срок, клиенты с доходом от 50000 до 200000 чаще задерживают оплату.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
#создадим датафрейм, в котором сохраним зависимость между целью кредита и возвратом кредита в срок
data_debt_purpose = pd.DataFrame()

#считаем количество в зависимости от цели кредита
data_debt_purpose['count_by_purpose'] = data.groupby('purpose_category')['debt'].count()

#cуммируем значения, чтобы узнать общее количество задолженностей в каждой группе
data_debt_purpose['sum_debt'] = data.groupby('purpose_category')['debt'].sum()

#для каждой группы находим отношение
data_debt_purpose['ratio'] = data_debt_purpose['sum_debt']/data_debt_purpose['count_by_purpose'] 


print(data_debt_purpose.sort_values(by='ratio', ascending=False))

**Вывод:** 
Кредиты на авто и образование просрачивают чаще, чем взятые на свадьбу и недвижимость.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Пропуски могут возникнут по технологическим причинам или из-за человеческого фактора.
Технологические ошибки возникают при копировании, считывании, смене формата.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
Пропуски в таких колонках обычно заполняют характерными значениями: средним арифметическим или медианой. Лучше использовать медиану, если в выборке есть выдающиеся значения, которые сместят среднее.

### Шаг 4: общий вывод.

Для анализа была проведена предобработка данных, а именно:

1. Для трудового стажа были обработаны и приведены аномальные значения.

2. В столбцах 'общий трудовой стаж в днях' и 'ежемесячный доход' имелись пропущенные значения у 10% записей. Пропуски были заполнены медианными значениями соответственно.

3. В данных были обработаны и удалены дубликаты.

4. Определили категории для уровня дохода и целей кредита и категоризовали данные.


Проверили 4 гипотезы и установили:


**1. Влияет ли количество детей на возврат кредита в срок?** Да, влияет. Клиенты без детей просрачивают реже, чем с детьми. Чаще остальных задолженность у семей с 1 и 2 детьми. При анализе не были учтены данные для семей с 4 и 5 детьми, т.к. их оказалось около 0,1% от общего количества записей.



**2. Есть ли зависимость между семейным положением и возвратом кредита в срок?** Да, есть.
Люди не состоявшие в официально зарегистрированных отношениях задерживают с оплатой кредита чаще, чем люди, бывавшие в браке.
Холостые респонденты чаще остальных задерживают оплату кредита. Чуть меньше - клиенты, состоящие в гражданском браке. Меньше остальных внесение платежа по кредиту задерживают вдовцы/вдовы.


**3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?** Клиенты с доходом от 30000 до 50000 чаще платят в срок, клиенты с доходом от 50000 до 200000 чаще задерживают оплату. Не учитывались респонденты с уровнем дохода <30000 (категория 'E') и >1000000 (категория 'А'), т.к. в сумме их около 0,2% от общего количества записей.



**4. Как разные цели кредита влияют на его возврат в срок?**
Кредиты на авто и образование просрачивают чаще, чем взятые на свадьбу и недвижимость.


**Рекомендации для заказчика**
Рекомендую выдавать кредиты клиентам, состоящим или состоявшим в официальном браке и клентам без детей, т.к. они лучше выплачивают кредиты.
Клиенты, несостоявшие в официальном браке или имеющие 1 или 2 детей нуждаются в дополнительном скоринге, т.к. чаще остальных задерживают взнос по кредиту.